/* Global Styles */
body {
    font-family: Arial, sans-serif;
    background-color: gray;
    margin: 0;
    padding: 0;
}

.container {
    background-image:url(logo.png);
    background-repeat: no-repeat;
    background-size:70vh;
    background-position: center;
    background-color: white;
    padding:180px;
    border-radius: 8px;
    box-shadow: 0 44px 66px rgba(0, 0, 0, 0.1);
}

/* Header Styles */
header {
    background-color:black;
    color:white;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    font-size: 36px;
}

/* Main Content Styles */
main {
    text-align: center;
    padding: 20px 0;
}

p {
    font-size: 18px;
    color:black;
}

input[type="text"] {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: red;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color:violet;
}

.result-message {
    margin-top: 20px;
    font-weight: bold;
    color: green;
}

/* Footer Styles */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}